body{
    background-color: rgb(208, 255, 0);
    color:aliceblue;
      font-family: "Creepster", system-ui;
     display:flex;
    justify-content:center;
    align-items: center ;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
      font-family: "Creepster", system-ui;
}